<aside class="col-md" style="background-color: {{config['ASIDE_BG_COLOR']}}">
  <header>
    <h2 data-id="this-is-cs50">
      <a href="{{ url_for('web.index') }}"
        >{{config['LANGUAGE_MENU_web'].title}}</a
      >
    </h2>
  </header>

  <button
    aria-controls="nav"
    aria-expanded="false"
    class="btn btn-sm collapsed d-md-none"
    data-target="aside &gt; nav"
    data-toggle="collapse"
  >
    Menu
  </button>

  <nav class="collapse d-md-block" id="nav">
    <hr />
    <ul class="fa-ul">
      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week0') }}"
          >{{config['LANGUAGE_MENU'].week}} 0
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week0}}</span
          ></a
        >
      </li>
      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week1') }}"
          >{{config['LANGUAGE_MENU'].week}} 1
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week1}}</span
          ></a
        >
      </li>

      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week2') }}"
          >{{config['LANGUAGE_MENU'].week}} 2
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week2}}</span
          ></a
        >
      </li>

      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week3') }}"
          >{{config['LANGUAGE_MENU'].week}} 3
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week3}}</span
          ></a
        >
      </li>

      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week4') }}"
          >{{config['LANGUAGE_MENU'].week}} 4
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week4}}</span
          ></a
        >
      </li>

      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week5') }}"
          >{{config['LANGUAGE_MENU'].week}} 5
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week5}}</span
          ></a
        >
      </li>

      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week6') }}"
          >{{config['LANGUAGE_MENU'].week}} 6
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week6}}</span
          ></a
        >
      </li>

      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week7') }}"
          >{{config['LANGUAGE_MENU'].week}} 7
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week7}}</span
          ></a
        >
      </li>

      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week8') }}"
          >{{config['LANGUAGE_MENU'].week}} 8
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week8}}</span
          ></a
        >
      </li>

      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.weeks.week9') }}"
          >{{config['LANGUAGE_MENU'].week}} 9
          <span class="week-title"
            >{{config['LANGUAGE_MENU_web'].week9}}</span
          ></a
        >
      </li>
    </ul>
    
    <hr />

    <ul class="fa-ul">
      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.honesty') }}"
          >{{config['LANGUAGE_MENU'].honesty}}</a
        >
      </li>
      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.certificate') }}"
          >{{config['LANGUAGE_MENU'].certificate}}</a
        >
      </li>
      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.faqs') }}"
          >{{config['LANGUAGE_MENU'].faqs}}</a
        >
      </li>
      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="https://cs50.me/cs50w">{{config['LANGUAGE_MENU'].gradebook}}</a>
      </li>
      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.staff') }}"
          >{{config['LANGUAGE_MENU'].staff}}</a
        >
      </li>
      <li data-marker="*">
        <span class="fa-li"><i class="fas fa-circle"></i></span>
        <a href="{{ url_for('web.syllabus') }}"
          >{{config['LANGUAGE_MENU'].syllabus}}</a
        >
      </li>
    </ul>
              
    <hr />
    {% include 'components/courses.html' %}
    <hr />
  </nav>
  <footer></footer>
</aside>
