{% extends 'python/layout.html' %} {% block conteudo %}
<h1 id="problem-set-7">Conjunto de Problemas 7</h1>

<h2 id="what-to-do">O que Fazer</h2>

<ol>
  <li>
    Faça login no <a href="https://cs50.dev/">cs50.dev</a>, que é uma versão baseada na nuvem do Visual Studio Code (VS Code) que fornece seu próprio "espaço de códigos" com tudo o que você precisa para o curso pré-instalado. Não é necessário baixar e instalar o VS Code ou o Python em seu próprio Mac ou PC!
  </li>
  <li>
    Execute
    <code class="language-plaintext highlighter-rouge">update50</code> na janela do terminal de seu espaço de códigos para garantir que seu espaço de códigos esteja atualizado; se solicitado, clique em <strong>Reconstruir agora</strong>.
  </li>
  <li>
    Envie todos os problemas abaixo:
    <ul>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.numb3rs') }}">NUMB3RS</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.watch') }}">Assista no YouTube</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.working') }}">Trabalhando das 9 às 5</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.um') }}">Expressões Regulares</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.response') }}">Validação de Resposta</a>
      </li>
    </ul>
  </li>
</ol>

<h2 id="when-to-do-it">Quando Fazer</h2>

<p>
  Até
  <a
    data-local="2024-12-31T23:59:00-05:00"
    href="https://time.cs50.io/20241231T235900-0500"
    >2024-12-31T23:59:00-05:00</a
  >.
</p>
{% endblock %}