{% extends 'python/layout.html' %} {% block conteudo %}
<h1 id="problem-set-4">Conjunto de Problemas 4</h1>

<h2 id="what-to-do">O que Fazer</h2>

<ol>
  <li>
    Faça login em <a href="https://cs50.dev/">cs50.dev</a>, que é uma versão baseada na nuvem do Visual Studio Code (VS Code) que fornece a você seu próprio "codespace" com tudo o que você precisa para o curso pré-instalado. Não é necessário baixar e instalar o VS Code ou Python no seu próprio Mac ou PC!
  </li>
  <li>
    Execute
    <code class="language-plaintext highlighter-rouge">update50</code> na janela do terminal do seu codespace para garantir que seu codespace esteja atualizado; se solicitado, clique em <strong>Rebuild now</strong>.
  </li>
  <li>
    Envie todos os problemas a seguir:
    <ul>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.emojize') }}">Emojize</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.figlet') }}"
          >Cartas de Frank, Ian e Glen</a
        >
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.adieu') }}">Adeus, Adeus</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.game') }}">Jogo de Adivinhação</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.professor') }}">Pequeno Professor</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.bitcoin') }}">Índice de Preço do Bitcoin</a>
      </li>
    </ul>
  </li>
</ol>

<h2 id="when-to-do-it">Quando Fazer</h2>

<p>
  Até
  <a
    data-local="2024-12-31T23:59:00-05:00"
    href="https://time.cs50.io/20241231T235900-0500"
    >2024-12-31T23:59:00-05:00</a
  >.
</p>
{% endblock %}