{% extends 'layout.html' %} {% block content %}
<h1 id="cybersecurity">Cybersecurity</h1>

<p>
    Passwords. Brute-Force Attacks. Password Managers. Two-Factor
    Authentication. One-Time Passwords. Hashing. Rainbow Table. Salting.
    Cryptography. Secret-Key Cryptography. Symmetric Cryptography. Asymmentric
    Cryptography. Public-Key Cryptography. HTTPS. Passkeys. End-to-End
    Encryption. Deletion. Secure Deletion. Full-Disk Encryption. Ransomware.
</p>

<iframe
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen=""
    class="border"
    data-video=""
    src="https://video.cs50.io/EKof-cJiTG8?screen=6uNx4HNz0zg"
></iframe>

<ul>
    <li data-marker="-">
        Lecture
        <ul>
            <li data-marker="*">
                <a
                    href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity.mp3"
                    >Audio</a
                >
            </li>
            <li data-marker="*">
                <a href="../../notes/cybersecurity/">Notes</a>
            </li>
            <li data-marker="+">
                Slides
                <ul>
                    <li data-marker="*">
                        <a
                            href="https://docs.google.com/presentation/d/1hOZNUviplzWn-zm6Da1gkjt_gjgaXPrIHHXH3q1Wvrg/edit?usp=sharing"
                            >Google Slides</a
                        >
                    </li>
                    <li data-marker="*">
                        <a
                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity.pdf"
                            >PDF</a
                        >
                    </li>
                </ul>
            </li>
            <li data-marker="+">
                Source Code
                <ul>
                    <li data-marker="*">
                        <a
                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/src/"
                            >Index</a
                        >
                    </li>
                    <li data-marker="*">
                        <a
                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/src.pdf"
                            >PDF</a
                        >
                    </li>
                    <li data-marker="*">
                        <a
                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/src.zip"
                            >Zip</a
                        >
                    </li>
                </ul>
            </li>
            <li data-marker="*">
                <a
                    href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/lang/en/cybersecurity.srt"
                    >Subtitles</a
                >
            </li>
            <li data-marker="*">
                <a
                    href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/lang/en/cybersecurity.txt"
                    >Transcript</a
                >
            </li>
            <li data-marker="+">
                Video
                <ul>
                    <li data-marker="*">
                        <a
                            href="https://video.cs50.io/EKof-cJiTG8?screen=6uNx4HNz0zg"
                            >CS50 Video Player</a
                        >
                    </li>
                    <li data-marker="+">
                        MP4
                        <ul>
                            <li data-marker="+">
                                HDR
                                <ul>
                                    <li data-marker="*">
                                        <a
                                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity-360p-hdr.mp4"
                                            >360p</a
                                        >
                                    </li>
                                    <li data-marker="*">
                                        <a
                                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity-720p-hdr.mp4"
                                            >720p</a
                                        >
                                    </li>
                                    <li data-marker="*">
                                        <a
                                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity-1080p-hdr.mp4"
                                            >1080p</a
                                        >
                                    </li>
                                    <li data-marker="*">
                                        <a
                                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity-4k-hdr.mp4"
                                            >4K</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li data-marker="+">
                                SDR
                                <ul>
                                    <li data-marker="*">
                                        <a
                                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity-360p.mp4"
                                            >360p</a
                                        >
                                    </li>
                                    <li data-marker="*">
                                        <a
                                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity-720p.mp4"
                                            >720p</a
                                        >
                                    </li>
                                    <li data-marker="*">
                                        <a
                                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity-1080p.mp4"
                                            >1080p</a
                                        >
                                    </li>
                                    <li data-marker="*">
                                        <a
                                            href="https://cdn.cs50.net/2023/fall/lectures/cybersecurity/cybersecurity-4k.mp4"
                                            >4K</a
                                        >
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li data-marker="*">
                        <a href="https://youtu.be/EKof-cJiTG8">YouTube</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li data-marker="*"><a href="../../seminars/">Seminars</a></li>
    <li data-marker="*"><a href="../../project/">Final Project</a></li>
</ul>

{% endblock %}
