{% extends 'cs50x2024/layout.html' %}
{% block content %}
  <h1 id="problem-set-8">Conjunto de Problemas 8</h1>

  <div class="alert alert-warning" data-alert="warning" role="alert">
    <p>Colaborações em conjuntos de problemas não são permitidas, exceto nas ocasiões em que você possa pedir ajuda aos colegas e outros, desde que tal ajuda não se reduza a um aluno fazendo seu trabalho por você, segundo a política do curso sobre
      <a href="{{ url_for('cs50x2024.honesty') }}">honestidade acadêmica</a>.</p>

    <p>A equipe conduz auditorias aleatórias de entregas para o CS50x. Os alunos que infringirem esta política serão retirados do curso. Os alunos que já concluírem o CS50x, se considerados em violação, terão seus Certificados CS50 permanentemente revogados.</p>
  </div>

  <h2 id="what-to-do">O que fazer</h2>

  <ol>
    <li>Faça login em
      <a href="https://cs50.dev">cs50.dev</a>
      usando sua conta GitHub</li>
    <li>Execute
      <code class="language-plaintext highlighter-rouge">update50</code>
      na janela do terminal do seu codespace para garantir que seu codespace esteja atualizado e, quando solicitado, clique em
      <strong>Reconstruir agora</strong>
    </li>
    <li>Envie
      <a href="{{ url_for('cs50x2024.psets.pset8.trivia') }}">Trivia</a>
    </li>
    <li>Envie
      <a href="{{ url_for('cs50x2024.psets.pset8.homepage') }}">Página inicial</a>
    </li>
  </ol>

  <h2 id="when-to-do-it">Quando fazer</h2>

  <p>Até
    <a data-local="2024-12-31T23:59:00-05:00" href="https://time.cs50.io/20241231T235900-0500">2024-12-31T23:59:00-05:00</a>.</p>

{% endblock %}