{% macro notes_item(number, title) %}
  {% if number == 0 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>
  {% elif week.number == 1 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>
  {% elif week.number == 2 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>
  {% elif week.number == 3 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>
  {% elif week.number == 4 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>
  {% elif week.number == 5 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>
  {% elif week.number == 6 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>
  {% elif week.number == 7 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>
  {% elif week.number == 8 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>
  {% elif week.number == 9 %}
    <li data-marker="*">
      <a href="">{{title}}
      </a>
    </li>

  {% endif %}
{% endmacro %}
