{% macro pset_item(number, title) %}
  {% if number == 0 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset0.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% elif number == 1 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset1.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% elif number == 2 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset2.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% elif number == 3 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset3.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% elif number == 4 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset4.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% elif number == 5 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset5.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% elif number == 6 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset6.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% elif number == 7 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset7.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% elif number == 8 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset8.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% elif number == 9 %}
    <li data-marker="*">
      <a href="{{ url_for('cs50x2024.psets.pset9.index') }}">{{title}}
        {{number}}
      </a>
    </li>
  {% endif %}
{% endmacro %}
