{% extends 'python/layout.html' %} {% block content %}
<h1 id="problem-set-1">Problema Set 1</h1>

<h2 id="what-to-do">Qué hacer</h2>

<ol>
  <li>
    Inicia sesión en <a href="https://cs50.dev/">cs50.dev</a>, que es una versión basada en la nube de Visual Studio Code (VS Code) que te proporciona tu propio "codespace" con todo lo que necesitas para el curso preinstalado. ¡No es necesario descargar e instalar VS Code o Python en tu propia Mac o PC!
  </li>
  <li>
    Ejecuta
    <code class="language-plaintext highlighter-rouge">update50</code> en la ventana de terminal de tu codespace para asegurarte de que tu codespace esté actualizado; si se te solicita, haz clic en <strong>Reconstruir ahora</strong>.
  </li>
  <li>
    Envía todos los problemas a continuación:
    <ul>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.deep') }}">Deep Thought</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.bank') }}"
          >Home Federal Savings Bank</a
        >
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.extensions') }}">Extensiones de Archivos</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.interpreter') }}">Intérprete de Matemáticas</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.meal') }}">Hora de la Comida</a>
      </li>
    </ul>
  </li>
</ol>

<h2 id="when-to-do-it">Cuándo hacerlo</h2>

<p>
  Antes del
  <a
    data-local="2024-12-31T23:59:00-05:00"
    href="https://time.cs50.io/20241231T235900-0500"
    >31 de diciembre de 2024 a las 23:59:00 (hora del este)</a
  >.
</p>
{% endblock %}