{% extends 'python/layout.html' %} {% block content %}
<h1 id="problem-set-3">Conjunto de Problemas 3</h1>

<h2 id="what-to-do">Qué hacer</h2>

<ol>
  <li>
    Inicia sesión en <a href="https://cs50.dev/">cs50.dev</a>, que es una versión basada en la nube de Visual Studio Code (VS Code) y proporciona tu propio "espacio de código" con todo lo que necesitas para el curso preinstalado. ¡No es necesario descargar e instalar VS Code o Python en tu propia Mac o PC!
  </li>
  <li>
    Ejecuta
    <code class="language-plaintext highlighter-rouge">update50</code> en la ventana de terminal de tu espacio de código para asegurarte de que tu espacio de código está actualizado; si se te solicita, haz clic en <strong>Reconstruir ahora</strong>.
  </li>
  <li>
    Envía todos los problemas a continuación:
    <ul>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.fuel') }}">Indicador de Combustible</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.taqueria') }}">Taquería de Felipe</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.grocery') }}">Lista de Compras</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.outdated') }}">Obsoleto</a>
      </li>
    </ul>
  </li>
</ol>

<h2 id="when-to-do-it">Cuándo hacerlo</h2>

<p>
  Antes de
  <a
    data-local="2024-12-31T23:59:00-05:00"
    href="https://time.cs50.io/20241231T235900-0500"
    >2024-12-31T23:59:00-05:00</a
  >.
</p>
{% endblock %}