{% extends 'python/layout.html' %} {% block content %}
<h1 id="problem-set-5">Conjunto de Problemas 5</h1>

<p>
  Para este conjunto de problemas, reimplementarás algunos programas anteriores de tal manera que también puedas escribir pruebas para tu propio código.
</p>

<h2 id="what-to-do">Qué hacer</h2>

<ol>
  <li>
    Inicia sesión en <a href="https://cs50.dev/">cs50.dev</a>, que es una versión basada en la nube de Visual Studio Code (VS Code) que te proporciona tu propio "espacio de código" con todo lo que necesitas para el curso preinstalado. ¡No es necesario descargar e instalar VS Code o Python en tu propia Mac o PC!
  </li>
  <li>
    Ejecuta
    <code class="language-plaintext highlighter-rouge">update50</code> en la ventana de terminal de tu espacio de código para asegurarte de que tu espacio de código esté actualizado. Si se te solicita, haz clic en <strong>Rebuild now</strong>.
  </li>
  <li>
    Envía todos los problemas a continuación:
    <ul>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.test_twttr') }}">Pruebas de mi twttr</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.test_bank') }}">De vuelta al Banco</a>
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.test_plates') }}"
          >Redefiniendo una Placa Personalizada</a
        >
      </li>
      <li data-marker="*">
        <a href="{{ url_for('python.psets.test_fuel') }}">Reabastecimiento</a>
      </li>
    </ul>
  </li>
</ol>

<h2 id="when-to-do-it">Cuándo hacerlo</h2>

<p>
  Antes del
  <a
    data-local="2024-12-31T23:59:00-05:00"
    href="https://time.cs50.io/20241231T235900-0500"
    >31 de diciembre de 2024, 23:59:00-05:00</a
  >.
</p>
{% endblock %}