{% extends 'cs50x2024/layout.html' %}
{% block content %}
  <h1 id="problem-set-1">Problem Set 1</h1>

  <h2 id="what-to-do">What to Do</h2>

  <ol>
    <li>Log into
      <a href="https://submit.cs50.io">submit.cs50.io</a>
      using your GitHub account and click
      <strong>Authorize cs50</strong>, then close the tab.</li>
    <li>Log into
      <a href="https://cs50.dev/">cs50.dev</a>
      using your GitHub account to access your very own “codespace.”</li>
    <li>Once your codespace has loaded, close any
      <strong>Welcome</strong>
      tabs that might have opened by default.</li>
    <li>Run
      <code class="language-plaintext highlighter-rouge">update50</code>
      in your codespace’s terminal window to ensure that your codespace is up-to-date and, if prompted, click
      <strong>Rebuild now</strong>.</li>
    <li>Complete
      <a href="{{ url_for('cs50x2024.psets.pset1.world') }}">Hello, World</a>.</li>
    <li>Submit
      <a href="{{ url_for('cs50x2024.psets.pset1.me') }}">Hello, It’s Me</a>.</li>
    <li>Submit one of:
      <ul>
        <li data-marker="*">
          <a href="{{ url_for('cs50x2024.psets.pset1.mario_less') }}">this version of Mario</a>, if feeling less comfortable</li>
        <li data-marker="*">
          <a href="{{ url_for('cs50x2024.psets.pset1.mario_more') }}">this version of Mario</a>, if feeling more comfortable</li>
      </ul>
    </li>
    <li>Submit one of:
      <ul>
        <li data-marker="*">
          <a href="{{ url_for('cs50x2024.psets.pset1.cash') }}">Cash</a>, if feeling less comfortable</li>
        <li data-marker="*">
          <a href="{{ url_for('cs50x2024.psets.pset1.credit') }}">Credit</a>, if feeling more comfortable</li>
      </ul>
    </li>
  </ol>

  <p>If you submit both versions of Mario, we’ll record the higher of your two scores. If you submit both Cash and Credit, we’ll record the higher of your two scores.</p>

  <h2 id="when-to-do-it">When to Do It</h2>

  <p>By
    <a data-local="2024-12-31T23:59:00-05:00" href="https://time.cs50.io/20241231T235900-0500">2024-12-31T23:59:00-05:00</a>.</p>

  <h2 id="advice">Advice</h2>

  <ul>
    <li data-marker="*">Try out any of David’s programs from class via
      <a href="{{ url_for('cs50x2024.weeks.week1') }}">Week 1</a>’s source code.</li>
    <li data-marker="*">See CS50’s
      <a href="{{ url_for('cs50x2024.style') }}">style guide for C</a>
      for tips on how to improve your code’s style.</li>
    <li data-marker="*">If you see any errors when compiling your code with
      <code class="language-plaintext highlighter-rouge">make</code>, focus first on fixing the very first error you see, scrolling up as needed. If unsure what it means, try asking
      <code class="language-plaintext highlighter-rouge">help50</code>
      for help. For instance, if trying to compile
      <code class="language-plaintext highlighter-rouge">hello</code>, and
      <div class="language-plaintext highlighter-rouge">
        <div class="highlight">
          <pre class="highlight"><code>make hello
</code></pre>
        </div>
      </div>
      <p>is yielding errors, try running</p>
      <div class="language-plaintext highlighter-rouge">
        <div class="highlight">
          <pre class="highlight"><code>help50 make hello
</code></pre>
        </div>
      </div>
      <p>instead!</p>
    </li>
  </ul>

{% endblock %}
