{% extends 'layout.html' %} {% block conteudo %}
<h1 id="problem-set-2">Ensemble de problèmes 2</h1>

<div class="alert" data-alert="warning" role="alert">
  <p>
    La collaboration sur les ensembles de problèmes n'est pas autorisée, sauf dans la mesure où vous pouvez demander l'aide de vos camarades de classe et d'autres personnes, à condition que cette aide ne se réduise pas à ce que quelqu'un d'autre fasse votre travail à votre place, conformément à la politique de cours sur l'« honnêteté académique ».
  </p>

  <p>
    Le personnel effectue des audits aléatoires des soumissions à CS50x. Les étudiants qui enfreignent cette politique seront exclus du cours. Les étudiants qui ont déjà terminé CS50x et qui sont reconnus coupables d'une violation verront leur Certificat CS50 révoqué de manière permanente.
  </p>
</div>

<h2 id="what-to-do">Que faire</h2>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Assurez-vous d'avoir terminé le
    <a href="{{url_for('cs50x.labs.lab2')}}">Lab 2</a> avant de commencer cet ensemble de problèmes.
  </p>
</div>

<ol>
  <li>
    Connectez-vous à <a href="https://code.cs50.io">code.cs50.io</a> en utilisant votre compte GitHub.
  </li>
  <li>
    Exécutez <code class="language-plaintext highlighter-rouge">update50</code> dans la fenêtre du terminal de votre espace de code pour vous assurer que votre espace de code est à jour et, lorsque cela vous est demandé, cliquez sur <strong>Reconstruire maintenant</strong>.
  </li>
  <li>
    Soumettez <a href="{{url_for('cs50x.psets.readability')}}">Readability</a>.
  </li>
  <li>
    Soumettez l'un des éléments suivants :
    <ul>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.bulbs')}}">Bulbs</a>, si vous vous sentez moins à l'aise.
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.caesar')}}">Caesar</a>, si vous vous sentez moins à l'aise.
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.substitution')}}">Substitution</a>, si vous vous sentez plus à l'aise.
      </li>
      <li data-marker="*">
        <a href="{{url_for('cs50x.psets.wordle50')}}">Wordle50</a>, si vous vous sentez plus à l'aise.
      </li>
    </ul>
  </li>
</ol>

<p>
  Si vous soumettez plus d'un des problèmes Bulbs, Caesar, Substitution ou Wordle50, nous enregistrerons la note la plus élevée parmi ces problèmes.
</p>

<h2 id="when-to-do-it">Quand le faire</h2>

<p>
  Avant le
  <a
    data-local="2023-12-31T23:59:00+00:00"
    href="https://time.cs50.io/20231231T235900Z"
    >2023-12-31T23:59:00+00:00</a
  >.
</p>

<h2 id="advice">Conseils</h2>

<ul>
  <li data-marker="*">
    Essayez n'importe quel programme de David vu en classe via les exemples de
    <a href="{{url_for('cs50x.weeks.week2')}}">la semaine 2</a>.
  </li>
  <li data-marker="*">
    Pour consulter les pages de manuel des fonctions C, rendez-vous sur
    <a href="https://manual.cs50.io/">manual.cs50.io</a>.
  </li>
  <li data-marker="*">
    Si vous voyez des erreurs lors de la compilation de votre code avec
    <code class="language-plaintext highlighter-rouge">make</code>, concentrez-vous d'abord sur la correction de la toute première erreur que vous voyez, en faisant défiler vers le haut si nécessaire. Si vous n'êtes pas sûr de sa signification, essayez de demander de l'aide avec
    <code class="language-plaintext highlighter-rouge">help50</code>. Par exemple, si vous essayez de compiler
    <code class="language-plaintext highlighter-rouge">readability</code> et que
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>make readability
</code></pre>
      </div>
    </div>
    <p>produit des erreurs, essayez d'exécuter la commande</p>
    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>help50 make readability
</code></pre>
      </div>
    </div>
    <p>à la place !</p>
  </li>
</ul>

{% endblock %}