{% extends 'layout.html' %} {% block contenu %}

<h1 id="problem-set-7">Ensemble de problèmes 7</h1>

<div class="alert" data-alert="warning" role="alert">
  <p>
    La collaboration sur les ensembles de problèmes n'est pas autorisée, à moins que vous ne puissiez demander de l'aide à vos camarades de classe et à d'autres personnes, tant que cette aide ne se réduit pas à ce que quelqu'un d'autre fasse votre travail à votre place, conformément à la politique du cours sur l' <a href="{{url_for('cs50x.honesty')}}">honnêteté académique</a>.
  </p>

  <p>
    Le personnel effectue des audits aléatoires des soumissions à CS50x. Les étudiants trouvés en violation de cette politique seront exclus du cours. Les étudiants qui ont déjà terminé CS50x, s'ils sont trouvés en violation, verront leur certificat CS50 révoqué de manière permanente.
  </p>
</div>

<h2 id="what-to-do">Que faire</h2>

<div class="alert" data-alert="warning" role="alert">
  <p>
    Assurez-vous d'avoir terminé le <a href="{{url_for('cs50x.labs.lab7')}}">Laboratoire 7</a> avant de commencer cet ensemble de problèmes.
  </p>
</div>

<ol>
  <li>
    Connectez-vous à <a href="https://code.cs50.io">code.cs50.io</a> en utilisant votre compte GitHub
  </li>
  <li>
    Lancez la commande <code class="language-plaintext highlighter-rouge">update50</code> dans la fenêtre de terminal de votre espace de code pour vous assurer que votre espace de code est à jour et, lorsque vous y êtes invité, cliquez sur <strong>Reconstruire maintenant</strong>
  </li>
  <li>Envoyez <a href="{{url_for('cs50x.psets.movies')}}">Films</a></li>
  <li>Envoyez <a href="{{url_for('cs50x.psets.fiftyville')}}">Fiftyville</a></li>
</ol>

<h2 id="when-to-do-it">Quand le faire</h2>

<p>
  Avant le
  <a
    data-local="2023-12-31T23:59:00+00:00"
    href="https://time.cs50.io/20231231T235900Z"
    >31 décembre 2023 à 23:59:00+00:00</a
  >.
</p>

<h2 id="advice">Conseil</h2>

<ul>
  <li data-marker="*">
    Rendez-vous sur <a href="https://www.w3schools.com/sql/">w3schools.com/sql</a> pour une référence pratique !
  </li>
</ul>

{% endblock %}