<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{config['TITLE']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css')}}">

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.8.0/dist/mermaid.min.js"></script>
    <script src="{{url_for('static', filename='highlight/highlight.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlight/styles/vs.css') }}"/>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </head>

  <body>
    <!-- Markdown Flux Diagrams -->
    <script type="module">
      mermaid.initialize({startOnLoad: true});
    </script>
    <div class="container-fluid">
      <div class="row">
        {% include 'cs50x2024/components/menu.html' %}
        <main class="col-md markdown-body">
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>
  </body>

</html>
